.rx-navbar {
  height: $rx-navbar-h;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 988;
  -webkit-box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
  color: var(--black);

  .content {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }
}
