.icon-container {
  cursor: pointer;
  //opacity: .54;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  svg {
    // border-radius: 50%;
    padding: 8px;
    opacity: 0.54;
  }

  &:hover {

    border-radius: 50%;
    background-color: rgba(60, 64, 67, 0.08);

    svg {
      opacity: .87;
      //background-color: $gray;
    }

  }
}

.icon-container.small {
  height: 38px;
  width: 38px;
}
.icon-container.xs-small {
  height: 32px;
  width: 32px;
}

.scale-to-right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.avatar-container {
  cursor: pointer;
  opacity: .54;
  display: flex;
  align-items: center;

  svg, img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    padding: 1px;
  }

  &:hover {
    svg, img {
      background-color: $gray;
    }
  }
}

.ml-auto {
  margin-left: auto;
}

.rx-search-box {
  display: flex;
  align-content: center;
  border: none;
  padding: 0 5px;
  border-radius: 8px;
  background-color: $white_50;

  input {
    background: transparent;
    border: none;
    font: normal 16px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 11px 0;
  }
}

.rx-tooltip-container {
  position: relative;

  .rx-tooltip-content {
    position: absolute;
    width: auto;
    background-color: $black_50;
    opacity: .9;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
  }
}

.rx-button-transparent {
  box-sizing: border-box;
  color: rgba(0,0,0,0.87);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: .01785714em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  height: 36px;
  padding: 8px 24px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  outline: none!important;

  &:hover {
    background-color: rgba(95,99,104,0.039);
  }
}

.rx-card {
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  // overflow: hidden;
  position: relative;
  -webkit-border-radius: 8px;
  border-radius: 8px;
 -webkit-transition-duration: .218s;
 transition-duration: .218s;
 -webkit-transition-property: background,border,opacity,-webkit-box-shadow,-webkit-transform;
  transition-property: background,border,opacity,box-shadow,transform;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #fff;
  border-color: #e0e0e0;
  z-index: 5;

  &:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    z-index: 10;
  }
}

.dropdown-box {
  position: absolute;
  top: 27px;
  min-width: 100px;
  height: auto;
  background-color: #fff;
  border-width: 0;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  -webkit-border-radius: 4px;
  left: 0;

  .dropdown-box-item {
    border: 1px solid transparent;
    letter-spacing: .01428571em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 5px 10px 5px 17px;
    position: relative;
    color: #333;
    cursor: pointer;
    list-style: none;
    margin: 0;
    white-space: nowrap;

    &:hover {
      background-color: rgba(0,0,0,0.08);
    }
  }
}
