$gray: rgba(60,64,67,0.08);
$gray_100: #3c4043;
$primary_color: #5f6368;
$gray_150: #80868b;
$black_50: #333232;
$black_100: #202124;
$white_50: #f1f3f4;
$pink: #feefc3;
$rx-navbar-h: 58px;
$rx-sidenav-w: 260px;
$rx-scrollbar-w: 16px;
